*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-model{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 1;
    background-color:rgba(128, 128, 128, 0.665);
}
.main-model-container{
    position: fixed;
    max-width: 1000px;
    margin: 270px 0px 0px 500px;
    padding: 9px;
    background-color: white;
}
.main-extracharge{
    display: flex;
    padding: 9px;
    gap: 13px;
}
.main-extracharge input{
    border: 2px solid  rgba(128, 128, 128, 0.081);
    border-radius: 6px;
    padding: 8px;
    text-align: center;
    margin: 7px 0px;
}
.secondmodel-para{
    margin: 10px 0px 10px 5px;
    color: blue;
}
.second-model-btn{
    font-family: Public Sans;
    margin: 6px 0px 6px 0px;
    width: 370px;
    padding: 12px;
    border-radius: 6px;
    background-color:rgba(1, 17, 53, 1);
    color: white;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: scale(0.9);
} 