*{
    margin: 0px;
    padding: 0px;
}
.head h1{
    margin: 40px 0px 0px 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
#mains{
    display: flex;
    gap: 200px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.mains-input{
    position: relative;
    padding: 14px;
    width: 515px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 12px;
    box-shadow: 1px 2px 1px 1px whitesmoke;
}
.date-area{
    display: flex;
    margin: 30px 0px 0px 50px;
}
.arrow{
    width: 23px;
    height: 23px;
    margin-top: 10px;
}
.date-area p{
    margin-top: 13px;
    margin-right: 10px;
}
.date-area-input{
    padding: 10px;
    width: 400px;
    border: 1px solid rgba(166, 169, 172, 0.7);
    border-radius: 12px;
}
.image-area{
    margin-top: 50px;
    text-align: center;
    position: relative;
}
.image-area img{
    width: 400px;
    height: 300px;
    margin-top: 60px;
}
.image-area p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}
.searchIcon{
    position: fixed;
    top: 17%;
    transform: translateY(-10%);
    right: 910px;
}
.checkIcon{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 16%;
    transform: translate(10%);
    right: 135px;
}
   

.grid-container{
    display: grid;
    margin-top: 50px;
    border: rgba(39, 179, 87, 0.16);
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4,1fr);
}
.centre{
    text-align: center;
}
.grid-container span{
    float: inline-end;
    margin-right: 40px;
    font-weight: bold;
    color: rgb(73, 218, 73);
}
.box{
    border: 1px solid rgba(39, 179, 87, 0.16);
    font-family: Arial, Helvetica, sans-serif;
    padding: 23px;
}
.bg{
    font-weight: bold;
    background-color: rgba(39, 179, 87, 0.16);
}
.btn{
    color: white;
    background-color: black;
    width: 156px;
    padding: 16px;
    margin: 20px 40px 0px 0px;
    border-radius: 33px;
    float: inline-end;

}